<% include partials/header %>

<div class="fondo">

   <h3>Bienvenido <var id="usuario"> <% if(usuario.a != undefined ){ %>
                             <%= usuario.a.name %> 
                             <% }else{ %>
                             <%= usuario.name %>
                             <% } %> </var></h3>
<section class="section-white">
  <div class="container">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../imagenes/1.jpg" alt="...">
          <div class="carousel-caption">
            <h2></h2>
          </div>
        </div>
        <div class="item">
          <img src="../imagenes/2.jpg" alt="...">
          <div class="carousel-caption">
            <h2></h2>
          </div>
        </div>
        <div class="item">
          <img src="../imagenes/3.jpg" alt="...">
          <div class="carousel-caption">
            <h2></h2>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    </div>
<h1></h1>
        <div class="row">
            <% for (var i = 0; i < datos.length; i++) { %>

            <div class="col-md-4">
                <div class=" col-lg-11 col-md-12 col-sm-6 <% if (datos[i].price < 30000000) { %> 
                <%= 'mtr ' %> 
                <% } %>
                 <% if (50000000 > datos[i].price) {} else { %>
                  <%= 'med ' %> 
                  <% } %>
                   <% for (var j = 0; j < datos[i].categories.length; j++) { %>
                    <%= 'c'+datos[i].categories[j]+' ' %>
                     <% } %>
                      <%= 'bs'+ datos[i].best_seller + ' p'+datos[i].available %> ">
                    <div class="thumbnail" >
                        <h4 class="text-center"><span class="label label-info"><%= datos[i].categories %></span></h4>
                        <img src=" <%= datos[i].img %>" class="img-responsive" >
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <h3><%= datos[i].name %></h3>
                                </div>
                                <div class="col-md-12 col-xs-12 price">
                                    <h3><label>$ <%= + datos[i].price %></label></h3>
                                </div>
                            </div>
                            <p><%= datos[i].description %></p>
                            <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-success btn-product my-cart-btn" data-id=" <%= datos[i]._id %> " data-name=" <%= datos[i].name %> " data-summary="summary 1" data-price=" <%= datos[i].price %> " data-quantity="1" data-image=" <%= datos[i].img %> " ><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
                        </div>
                        <p></p>
                    </div>
                            
                        </div>
                    </div>
                </div>
           <% } %>
            </div>
        </div>

    <div class="tienda"> </div>
<div>
<% include partials/footer %>
